<template name="MainNavbar">
  <nav class="navbar navbar-fixed-top navbar-dark bg-primary">
    <button class="navbar-toggler hidden-sm-up" data-target="#exCollapsingNavbar2" data-toggle="collapse" type="button">
      &#9776;
    </button>
    <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
      <a class="navbar-brand" href="{{pathFor 'home'}}">Bootstrap4 Meteor</a>
      <div class="container">
        <ul class="nav navbar-nav">
          {{> MainNavbarLeft}}
        </ul>
        <ul class="nav navbar-nav pull-right">
          {{> MainNavbarRight}}
        </ul>
      </div>
    </div>
  </nav>
</template>
