/*****************************************************************************/
/* main: Style */
/*****************************************************************************/
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-top: 70px;
  margin-bottom: 40px;
}
