/*****************************************************************************/
/* MainFooter: Style */
/*****************************************************************************/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;

  .container {
    width: auto;
    padding: 0 15px;

    .text-muted {
      color: #fff;
      margin: 8px 0;
    }
  }
}
